{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Order History</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="window">
        <div class="order-info">
          <div class="order-info-content">
            <h2>Order History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Dishes</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>
                            {% for dish in order.dishes.all %}
                                {{ dish.dish_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ order.quantity }}</td>
                        <td>Rs.{{ order.total_price }}</td>
                        <td>{{ order.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
